.meeting-container {
  text-align: center;
  background-color: hsl(125, 74%, 54%);
  color: hsl(0, 82%, 51%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting-container h1 {
  font-size: 24px;
  font-weight: bold;
}
